<section id="services-preview" class="services-preview">
  <div class="container">
    <!-- Services -->
    <h2 class="home-section-heading">What We Do</h2>
    <p class="top-caption">
      We have empowering options for business owners and their employees.
    </p>
    <div class="cards">
      @for (serviceGroup of availableServices; track serviceGroup.groupName) {
      <div class="card">
        <h3>{{ serviceGroup.groupName }}</h3>
        <ul>
          @for (service of serviceGroup.servicesList; track
          service.serviceName){
          <li>
            <span class="bullet-point-text">{{ service.serviceName }}</span>
            @if (service.subText) {
            <small>{{ service.subText }}</small>
            }
          </li>
          }
        </ul>
      </div>
      }
    </div>
  </div>
  <div class="contact-banner">
    <p class="bottom-caption">
      In what ways can we help you? Reach out 24/7/365 and leave us a message!
    </p>
    <div class="text-center contact-btn">
      <a
        href="#footer-contact"
        (click)="
          scrollService.scrollToSection('footer-contact');
          $event.preventDefault()
        "
        class="link-btn"
        >Contact Us</a
      >
    </div>
  </div>

  <!-- Benefits -->
  <div class="container">
    <h2 class="home-section-heading">How We Help</h2>
    <p class="top-caption">
      Taking time now to review your financial goals and desired outcomes has
      tremendous value that will reap rewards you'll love for years to come!
    </p>
    <div class="benefits-cards-wrapper">
      <div class="cards">
        @for (benefitGroup of benefits; track benefitGroup.ageGroup) { @if
        (!benefitGroup.shared) {
        <div class="card">
          <h3>{{ benefitGroup.ageGroup }}</h3>
          <ul>
            @for (benefit of benefitGroup.benefitsList; track
            benefit.benefitDescription){
            <li class="bullet-point-text">
              {{ benefit.benefitDescription }}
            </li>
            }
          </ul>
        </div>
        } }
      </div>
      @for (benefitGroup of benefits; track benefitGroup.ageGroup) { @if
      (benefitGroup.shared) {
      <div class="shared-benefits-card card">
        <h3>{{ benefitGroup.ageGroup }}</h3>
        @for (benefit of benefitGroup.benefitsList; track
        benefit.benefitDescription){
        <p class="bullet-point-text">{{ benefit.benefitDescription }}</p>
        }
      </div>
      } }
    </div>
  </div>
</section>
