.services-preview {
  background: linear-gradient(to right, #e8f2fa, #fef9ed);
  border-top: 1px solid rgba(34, 84, 153, 0.06);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.04);
  padding: var(--spacing-xl) 0 5rem;
  display: relative;

  .container {
    @media (max-width: 575px) {
      margin-left: var(--spacing-sm);
      margin-right: var(--spacing-sm);
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  p {
    text-align: center;
    font-size: 1.2rem;

    &.top-caption {
      max-width: 1000px;
      margin: 0 auto var(--spacing-lg);
    }

    &.bottom-caption {
      margin-bottom: var(--spacing-md);
      color: var(--text-inverse);
    }
  }

  .cards {
    display: flex;
    gap: var(--spacing-lg);
    margin-bottom: 4.5rem;

    @media (max-width: 575px) {
      flex-direction: column;
    }

    ul {
      list-style-position: inside;
      padding-left: 0.15rem;

      li {
        margin-bottom: var(--spacing-sm);

        small {
          display: block;
          margin-left: var(--spacing-md);
          font-style: italic;
          padding-top: 0.125rem;
          padding-right: var(--spacing-md);
        }
      }

      .bullet-point-text {
        font-size: 1.1rem;
      }
    }
  }

  .card {
    background-color: #f3f3f3;
    padding: var(--spacing-lg) 2.5rem;
    border-radius: var(--radius-lg);
    flex: 1;
    box-shadow: 0 4px 6px rgba(241, 157, 42, 0.2),
      0 8px 16px rgba(0, 0, 0, 0.18);
    border: 1px solid white;

    @media (max-width: 575px) {
      padding: var(--spacing-lg) 1.5rem;
    }

    h3 {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: var(--spacing-md);
    }
  }

  .benefits-cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    margin-bottom: var(--spacing-md);

    .shared-benefits-card {
      background-color: var(--secondary-gold-light);
    }

    .cards {
      margin-bottom: 0;
    }
  }

  .contact-banner {
    display: absolute;
    left: 0;
    margin-bottom: var(--spacing-xl);
    padding: var(--spacing-lg) 0;
    background: linear-gradient(
      to right,
      var(--primary-blue),
      var(--primary-blue-dark)
    );

    a {
      background-color: var(--secondary-gold);
      color: var(--text-primary);
      font-size: 1.1rem;
      font-weight: 500;
      padding: 0.75rem 1.5rem;
      margin: 0 auto;

      &:hover {
        background-color: var(--secondary-gold-light);
      }
    }
  }
}
