<footer>
  <app-footer-contact></app-footer-contact>
  <div class="container">
    <div class="footer-content">
      <!-- FFEF Logo w/ Tagline -->
      <div class="ffef-container">
        <img
          src="/assets/images/logos/ffef-gold-logo-icon.svg"
          alt="FFEF Logo"
        />
        <div>
          <p class="ffef-text">Fidelity Financial Education First</p>
          <p class="ffef-slogan">Empowering Dreams, Creating Legacies</p>
        </div>
      </div>
      <!-- Mark & Relations Contact Info -->
      <div class="contact-info-wrapper">
        <div class="contact-info">
          <!-- Mark contact info -->
          <div class="mark-contact-info">
            <div class="mark-portrait">
              <img
                src="/assets/images/landing-page/mark-houston-portrait.webp"
                alt="Mark Houston portrait"
              />
            </div>
            <div class="mark-text">
              <h3>Mark Houston</h3>
              <p class="title">Founder & Chief Educator</p>
              <div class="phone-email">
                <p>(402)880-7008</p>
                <a
                  href="mailto:mark@ffefirst.com?subject=Inquiry from ffefirst.com"
                  >mark&#64;ffefirst.com</a
                >
              </div>
            </div>
          </div>
          <!-- Relations contact info -->
          <div class="relations-contact-info">
            <h3>Relations Team</h3>
            <p class="title">Support & Questions</p>
            <div class="phone-email">
              <p>(402)399-9925</p>
              <a
                href="mailto:relations@ffefirst.com?subject=Inquiry from ffefirst.com"
                >relations&#64;ffefirst.com</a
              >
            </div>
          </div>
        </div>
        <div class="address">
          <p>215 S 88th St, Omaha, NE 68131</p>
        </div>
      </div>

      <!-- Social Media Icons Row -->
      <div class="social-media-icons-row">
        <a
          href="https://www.linkedin.com/company/ffefirst/"
          target="_blank"
          aria-label="LinkedIn"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <!-- <a
          href="https://www.facebook.com/your-company"
          target="_blank"
          aria-label="Facebook"
        >
          <i class="fab fa-facebook"></i>
        </a> -->
        <a
          href="https://www.youtube.com/@MarkHoustonFFEF"
          target="_blank"
          aria-label="YouTube"
        >
          <i class="fab fa-youtube"></i>
        </a>
      </div>
      <!-- Copyright Disclaimer -->
      <p class="copyright">
        &copy; {{ currentYear }} Fidelity Financial Education First. All rights
        reserved.
      </p>
    </div>
  </div>
</footer>
