<section id="about-preview" class="about-preview">
  <div class="container">
    <div class="content">
      <div class="img-wrapper">
        <img
          ngSrc="/assets/images/hero/about-preview.webp"
          alt="Mother reading a book with her child"
          width="1280"
          height="853"
          priority
        />
      </div>
      <div class="right-content">
        <div class="text-wrapper">
          <h2 class="home-section-heading">About Us</h2>
          <div class="paragraph-text">
            <p>
              At <span class="ffef">Fidelity Financial Education First</span>,
              we function as your consultant and quarterback in implementing
              family legacy plans, business transitions, and tax-efficient
              estate strategies.
            </p>
            <p>
              With 45 years of experience in finance and family legacy planning,
              we get to know you and provide meaningful guidance to help you
              accomplish what's most important to you.
            </p>
          </div>
        </div>
        <a class="link-btn" href="">Learn More</a>
      </div>
    </div>
  </div>
</section>
