<section id="footer-contact" class="footer-contact">
  <div class="container">
    <h2 class="home-section-heading">Contact Us</h2>
    <p>
      Let us know if you have any questions or would like to schedule a free
      consultation!
    </p>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <!-- Name -->
        <div class="form-input">
          <div class="label-row">
            <label for="name">Name <span title="Required">*</span></label>
            <span *ngIf="getErrorMessage('name')" class="error-msg">
              {{ getErrorMessage("name") }}
            </span>
          </div>
          <input
            type="text"
            id="name"
            formControlName="name"
            [minlength]="nameLengthValidator.minLength!"
            [maxlength]="nameLengthValidator.maxLength!"
            required
          />
        </div>
        <!-- Email -->
        <div class="form-input">
          <div class="label-row">
            <label for="email">Email <span title="Required">*</span></label>
            <span *ngIf="getErrorMessage('email')" class="error-msg">{{
              getErrorMessage("email")
            }}</span>
          </div>
          <input
            type="email"
            id="email"
            formControlName="email"
            [maxlength]="emailLengthValidator.maxLength!"
            required
          />
        </div>
      </div>
      <div class="row">
        <!-- Subject -->
        <div class="form-input">
          <div class="label-row">
            <label for="subject">Subject</label>
            <span *ngIf="getErrorMessage('subject')" class="error-msg">{{
              getErrorMessage("subject")
            }}</span>
          </div>
          <input
            type="text"
            id="subject"
            formControlName="subject"
            [maxlength]="subjectLengthValidator.maxLength!"
          />
        </div>
      </div>
      <!-- Message -->
      <div class="form-input">
        <div class="label-row">
          <label for="message">Message <span title="Required">*</span></label>
          <span *ngIf="getErrorMessage('message')" class="error-msg">{{
            getErrorMessage("message")
          }}</span>
        </div>
        <textarea
          id="message"
          formControlName="message"
          rows="6"
          [minlength]="messageLengthValidator.minLength!"
          [maxlength]="messageLengthValidator.maxLength!"
          required
        ></textarea>
      </div>
      <button type="submit" [disabled]="!contactForm.valid">Send</button>
    </form>
  </div>
</section>
